<h2>Points of Interest</h2>
   <%= link_to "New Point of Interest", new_point_of_interest_path%>
<ul>
  <% @pointOfInterests.each do |pointOfInterest| %>
      <li><%= link_to pointOfInterest.name,pointOfInterest %></li>
  <% end %>
</ul>